# Node.js dependencies
node_modules
package-lock.json

# Environment variables
.env

# Logs
logs
*.log

# IDE files
.vscode
.DS_Store

# Build files
dist

src/controllers/adminController.js
src/controllers/userController.js

src/models/Complaint.js
src/models/Recharge.js

src/routes/adminRoutes.js
src/routes/userRoutes.js



